.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.navbar-logo img {
  height: 30px;
  width: auto;
}
.navbar-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.displayName {
  height: 30px;
  width: auto;
}
.logout-btn {
  background: none;
  border: none;
  margin-left: -10px;
  padding-right: -20px;

  cursor: pointer;
}
.user-avatar {
  height: 30px;
  border-radius: 50%;
  width: auto;
}
