@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  font-family: Outfit;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f2f5;
  justify-content: center; /* Added to center horizontally */
  align-items: center; /* Added to center vertically */
}
